{%- render 'section-spacing-collapsing' -%}

<style>
   body {
    overflow-x: hidden;
  }
  #shopify-section-{{ section.id }} {
    --product-grid: auto / minmax(0, 1fr);
    --product-gallery-media-list-grid: auto / auto-flow {% if section.settings.mobile_carousel_control == 'free_scroll' %}{% if section.settings.mobile_media_size == 'expanded' %}84vw{% else %}73vw{% endif %}{% else %}100%{% endif %};
    --product-gallery-media-list-gap: {% if section.settings.mobile_media_size == 'expanded' %}var(--spacing-0-5){% else %}var(--grid-gutter){% endif %};
  }

  @media screen and (max-width: 999px) {
    #shopify-section-{{ section.id }} {
      --section-spacing-block-start: {% if section.settings.mobile_media_size == 'expanded' %}0px{% else %}var(--container-gutter){% endif %};
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
    {%- assign media_ratio = section.settings.desktop_media_width | divided_by: 50.0 -%}
      --product-grid: auto / minmax(0, {{ media_ratio }}fr) minmax(0, {{ 2.0 | minus: media_ratio }}fr);
      --product-gallery-media-list-grid: {% if section.settings.desktop_media_layout contains 'grid' %}auto-flow dense / repeat(2, minmax(0, 1fr)){% else %}auto / auto-flow 100%{% endif %};
      --product-gallery-media-list-gap: calc(var(--grid-gutter) / 2);
    }

  {%- if section.settings.desktop_media_layout == 'grid_highlight' -%}
    #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) {
      grid-column: span 2;
    }

    #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) ~ *:not(.product-gallery__media--expand) {
      grid-column: span 1;
    }
  {%- endif -%}
  }

  @media screen and (min-width: 1400px) {
    #shopify-section-{{ section.id }} {
      --product-gallery-media-list-gap: var(--grid-gutter);
    }
  }
   @keyframes rotatingText {
        0%{transform: rotateZ(0deg);}
        100%{transform: rotateZ(360deg);}
      }
      .rotating-logo-element {
        height: 180px;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        top: 0%;
        right: 15%;
        position: absolute;
        transition: 1s;
        box-sizing: border-box;
      }
      .rotating-logo-element svg{
        position: absolute;
        height: 120px;
        aspect-ratio: 1 / 1;
      }
      .rotating-logo-element svg:nth-child(2){
        position: absolute;
        height: 180px;
        aspect-ratio: 1 / 1;
        animation: rotatingText 6s infinite linear;
      }

  @media only screen and (max-width: 1000px){
    .rotating-logo-element {
      right: 75%;
      top: 0 !important;
      height: 150px;
    }
    .rotating-logo-element svg:nth-child(1){
      height: 100px;
    }
    .rotating-logo-element svg:nth-child(2){
      height: 150px;
    }
    
  }
  @media only screen and (max-width: 700px){
    .rotating-logo-element {
      right: auto !important;
      left: 4% !important;
      top: -4% !important;
      height: 120px;
    }
    .rotating-logo-element svg:nth-child(1){
      height: 90px;
    }
    .rotating-logo-element svg:nth-child(2){
      height: 120px;
    }
    
  }
</style>

<div {% render 'section-properties', tight: true %}>
  <div class="product">
    {%- if section.settings.product != blank -%}
      {%- if section.settings.product.media.size > 0 -%}
        {%- render 'product-gallery', product: section.settings.product -%}
      {%- endif -%}

      {%- render 'product-info', product: section.settings.product, update_url: false -%}
    {%- else -%}
      <product-gallery form="placeholder-{{ section.id }}" class="product-gallery {% if section.settings.mobile_carousel_control contains 'dots' %}product-gallery--mobile-dots{% endif %} {% if section.settings.desktop_media_layout contains 'grid' %}product-gallery--desktop-grid{% else %}product-gallery--desktop-carousel{% endif %} {% if section.settings.desktop_media_layout == 'carousel_thumbnails_left' %}product-gallery--desktop-thumbnails-left{% endif %} {% if section.settings.mobile_media_size == 'expanded' %}product-gallery--mobile-expanded{% endif %}">
        <div class="product-gallery__ar-wrapper">
          <div class="product-gallery__media-list-wrapper">

            <media-carousel desktop-mode="{{ section.settings.desktop_media_layout }}" adaptive-height class="product-gallery__media-list {% if section.settings.mobile_media_size == 'expanded' %}full-bleed{% else %}bleed{% endif %} scroll-area md:unbleed">
              <div class="product-gallery__media {% if section.settings.mobile_carousel_control != 'free_scroll' %}snap-center{% endif %}">
                {{- 'product-1' | placeholder_svg_tag: 'placeholder rounded' -}}
              </div>
            </media-carousel>
          </div>
        </div>
      </product-gallery>

      <safe-sticky class="product-info">
        {%- capture product_form_id -%}featured-product-form-{{ section.id }}{%- endcapture -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'vendor' -%}
              <div class="product-info__vendor" {{ block.shopify_attributes }}>{{- 'general.on_boarding.product_vendor' | t -}}</div>

            {%- when 'title' -%}
              <h2 class="product-info__title {{ block.settings.heading_tag }}" {{ block.shopify_attributes }}>{{ 'general.on_boarding.product_title' | t }}</h2>

            {%- when 'price' -%}
              <div class="product-info__price">
                <price-list class="price-list price-list--lg">
                  <sale-price class="text-lg">{{ 4000 | money }}</sale-price>
                </price-list>
              </div>

            {%- when 'separator' -%}
              <hr class="product-info__separator" {{ block.shopify_attributes }}>

            {%- when 'description' -%}
              <div class="product-info__description" {{ block.shopify_attributes }}>
                <div class="prose">
                  {{- 'general.on_boarding.product_description' | t -}}
                </div>
              </div>

            {%- when 'quantity_selector' -%}
              <div class="product-info__quantity-selector {{ block.shopify_attributes }}">
                <div class="form-control">
                  <label for="{{ product_form_id }}-quantity" class="block-label text-subdued">{{- 'product.quantity.label' | t -}}:</label>

                  <quantity-selector class="quantity-selector">
                    <button type="button" class="quantity-selector__button" aria-label="{{ 'product.quantity.decrease_quantity' | t }}">{% render 'icon' with 'minus', width: 10, height: 2 %}</button>
                    <input id="{{ product_form_id }}-quantity" type="text" is="quantity-input" inputmode="numeric" class="quantity-selector__input" name="quantity" form="{{ product_form_id }}" size="2" value="1" autocomplete="off">
                    <button type="button" class="quantity-selector__button" aria-label="{{ 'product.quantity.increase_quantity' | t }}">{% render 'icon' with 'plus', width: 10, height: 10 %}</button>
                  </quantity-selector>
                </div>
              </div>

            {%- when 'buy_buttons' -%}
              <div class="product-info__buy-buttons" {{ block.shopify_attributes }}>
                <buy-buttons class="buy-buttons">
                  {%- capture button_content -%}{{ 'product.general.add_to_cart_button' | t }}{%- endcapture -%}
                  {%- render 'button', content: button_content, type: 'submit', size: 'xl', background: block.settings.atc_button_background, text_color: block.settings.atc_button_text_color -%}
                </buy-buttons>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </safe-sticky>
    {%- endif -%}
    <div class="rotating-logo-element">
        <svg width="451" height="450" viewBox="0 0 451 450" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="225.638" cy="225.101" r="190.265" transform="rotate(-3.17392 225.638 225.101)" stroke="#BDF69B" stroke-width="46.2153"/>
          <path d="M338.93 227.395C341.814 279.41 297.934 276.36 275.567 264.528C241.267 240.863 223.975 241.821 223.975 241.821C223.975 241.821 203.802 238.888 171.825 270.281C157.361 284.48 111.241 296.288 108.13 240.193C105.973 201.286 155.89 166.88 219.623 163.345C283.357 159.811 336.772 188.487 338.93 227.395Z" fill="#343434"/>
          <path d="M196.24 305.088C196.24 305.088 216.458 316.433 234.409 318.999C252.36 321.565 267.255 301.15 267.255 301.15" stroke="#BDF69B" stroke-width="14.4423"/>
        </svg>
        <svg width="607" height="607" viewBox="0 0 607 607" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M563.944 290.664L592.606 291.729L592.402 297.216L571.721 308.666L571.829 305.759L591.61 318.508L591.408 323.953L562.743 322.97L562.974 316.746L582.097 317.416L582.055 318.562L566.319 308.383L566.43 305.394L582.886 296.206L582.834 297.598L563.712 296.887L563.944 290.664Z" fill="#BDF69B"/>
          <path d="M558.569 352.749L562.794 353.563L563.797 353.339L571.361 354.795C572.702 355.054 573.828 354.839 574.739 354.152C575.645 353.492 576.261 352.317 576.586 350.628C576.809 349.474 576.84 348.298 576.682 347.099C576.545 345.932 576.243 344.9 575.776 344.004L580.595 342.595C581.199 343.936 581.569 345.481 581.705 347.232C581.841 348.983 581.743 350.717 581.413 352.433C580.777 355.733 579.506 358.144 577.599 359.669C575.692 361.193 573.089 361.638 569.79 361.002L557.438 358.623L558.569 352.749ZM559.518 346.089C559.843 344.399 560.404 343.004 561.2 341.906C562.022 340.813 562.992 340.04 564.108 339.587C565.225 339.134 566.4 339.027 567.634 339.264C568.921 339.512 569.988 340.038 570.835 340.841C571.677 341.67 572.234 342.821 572.507 344.292C572.807 345.769 572.745 347.607 572.322 349.806L571.213 355.56L567.552 354.855L568.528 349.785C568.813 348.31 568.767 347.244 568.393 346.588C568.014 345.958 567.462 345.574 566.738 345.434C565.933 345.279 565.23 345.464 564.628 345.988C564.048 346.544 563.652 347.372 563.44 348.471C563.239 349.517 563.3 350.503 563.622 351.427C563.972 352.357 564.593 353.102 565.486 353.664L562.404 354.072C561.097 353.347 560.197 352.312 559.705 350.965C559.214 349.618 559.151 347.993 559.518 346.089Z" fill="#BDF69B"/>
          <path d="M552.35 376.905C552.906 375.104 553.652 373.433 554.585 371.892C555.537 370.385 556.489 369.25 557.44 368.486L561.195 371.877C560.296 372.657 559.449 373.639 558.654 374.823C557.878 376.041 557.292 377.289 556.896 378.568C556.461 379.977 556.324 381.021 556.485 381.7C556.639 382.406 557.016 382.851 557.616 383.036C558.112 383.19 558.55 383.068 558.93 382.671C559.328 382.308 559.71 381.768 560.074 381.051C560.439 380.335 560.827 379.54 561.24 378.667C561.645 377.82 562.093 376.972 562.584 376.123C563.101 375.283 563.699 374.552 564.376 373.933C565.054 373.313 565.844 372.885 566.746 372.649C567.64 372.44 568.687 372.52 569.888 372.892C571.218 373.303 572.276 374.044 573.06 375.116C573.836 376.213 574.285 377.582 574.407 379.221C574.555 380.868 574.315 382.709 573.686 384.745C573.242 386.18 572.634 387.593 571.861 388.984C571.088 390.374 570.248 391.473 569.341 392.279L565.625 388.9C566.54 388.068 567.263 387.162 567.794 386.183C568.344 385.238 568.768 384.282 569.066 383.317C569.486 381.96 569.61 380.911 569.438 380.172C569.266 379.433 568.893 378.974 568.319 378.797C567.797 378.636 567.337 378.736 566.939 379.099C566.533 379.488 566.135 380.037 565.744 380.746C565.354 381.454 564.956 382.232 564.551 383.079C564.164 383.96 563.712 384.821 563.195 385.662C562.678 386.502 562.084 387.22 561.415 387.813C560.763 388.441 559.987 388.873 559.084 389.108C558.209 389.352 557.17 389.289 555.97 388.918C554.665 388.514 553.625 387.764 552.849 386.666C552.099 385.577 551.667 384.199 551.553 382.534C551.431 380.895 551.696 379.019 552.35 376.905Z" fill="#BDF69B"/>
          <path d="M549.332 400.703L556.413 403.943L561.284 417.252L558.26 424.248L552.964 411.201L551.798 407.081L549.332 400.703ZM547.292 394.063L575.199 406.126L572.663 411.994L544.756 399.931L547.292 394.063ZM540.773 409.145L552.232 405.974L555.19 411.627L537.7 416.254L540.773 409.145Z" fill="#BDF69B"/>
          <path d="M522.625 442.219C523.914 440.255 525.471 438.777 527.298 437.787C529.109 436.819 531.015 436.355 533.015 436.393C535.024 436.47 536.941 437.108 538.768 438.307C540.618 439.521 541.966 441.026 542.812 442.823C543.667 444.658 543.999 446.592 543.809 448.623C543.627 450.693 542.891 452.71 541.602 454.674C540.328 456.615 538.778 458.081 536.952 459.071C535.148 460.077 533.254 460.549 531.268 460.487C529.283 460.426 527.354 459.781 525.481 458.552C523.654 457.353 522.306 455.847 521.437 454.035C520.591 452.238 520.259 450.305 520.441 448.235C520.623 446.165 521.351 444.16 522.625 442.219ZM527.01 445.096C526.425 445.987 526.106 446.921 526.052 447.899C525.999 448.877 526.214 449.818 526.698 450.724C527.204 451.645 527.983 452.45 529.034 453.139C530.107 453.844 531.155 454.238 532.179 454.321C533.202 454.405 534.152 454.227 535.027 453.789C535.903 453.351 536.633 452.687 537.218 451.796C537.802 450.905 538.121 449.971 538.175 448.994C538.228 448.016 538.021 447.063 537.552 446.134C537.068 445.229 536.289 444.423 535.216 443.719C534.166 443.03 533.117 442.636 532.071 442.537C531.033 442.476 530.076 442.665 529.2 443.103C528.324 443.541 527.594 444.206 527.01 445.096Z" fill="#BDF69B"/>
          <path d="M518.766 485.64C517.629 486.968 516.346 487.92 514.918 488.495C513.494 489.109 511.974 489.246 510.359 488.906C508.765 488.584 507.117 487.694 505.416 486.237L495.83 478.028L499.988 473.173L508.827 480.742C510.175 481.897 511.429 482.449 512.587 482.399C513.728 482.368 514.76 481.814 515.684 480.735C516.341 479.967 516.771 479.13 516.972 478.224C517.176 477.355 517.097 476.461 516.735 475.539C516.356 474.639 515.647 473.744 514.61 472.856L506.331 465.766L510.489 460.911L527.232 475.25L523.261 479.887L518.624 475.916L520.771 476.244C521.376 477.805 521.5 479.404 521.142 481.039C520.784 482.675 519.992 484.209 518.766 485.64Z" fill="#BDF69B"/>
          <path d="M484.556 489.086C485.339 488.324 486.272 487.931 487.354 487.907C488.435 487.922 489.386 488.35 490.205 489.192C491.024 490.034 491.407 490.976 491.354 492.018C491.301 493.099 490.883 494.021 490.1 494.783C489.297 495.564 488.364 495.957 487.302 495.961C486.258 495.986 485.327 495.577 484.508 494.735C483.689 493.893 483.287 492.932 483.301 491.85C483.335 490.788 483.753 489.867 484.556 489.086Z" fill="#BDF69B"/>
          <path d="M460.797 509.461C462.636 508.09 464.579 507.017 466.625 506.242C468.687 505.489 470.526 505.124 472.143 505.145L473.323 510.5C471.815 510.533 470.222 510.818 468.543 511.354C466.859 511.928 465.326 512.729 463.946 513.757C462.895 514.54 462.125 515.267 461.637 515.938C461.143 516.646 460.881 517.301 460.852 517.902C460.823 518.503 460.988 519.044 461.347 519.526C461.804 520.14 462.404 520.442 463.147 520.433C463.906 520.447 464.762 520.269 465.714 519.9C466.682 519.554 467.721 519.12 468.832 518.599C469.937 518.116 471.086 517.669 472.278 517.257C473.448 516.862 474.607 516.612 475.755 516.506C476.902 516.4 478.022 516.554 479.113 516.967C480.183 517.397 481.174 518.225 482.088 519.451C483.068 520.766 483.607 522.221 483.706 523.816C483.799 525.45 483.37 527.115 482.42 528.811C481.464 530.545 479.902 532.22 477.733 533.836C476.288 534.913 474.733 535.799 473.07 536.493C471.424 537.209 469.811 537.628 468.231 537.748L466.863 532.483C468.393 532.297 469.801 531.946 471.086 531.431C472.388 530.938 473.554 530.308 474.583 529.541C475.613 528.773 476.366 528.025 476.844 527.294C477.322 526.563 477.556 525.895 477.547 525.288C477.554 524.704 477.37 524.16 476.995 523.656C476.554 523.065 475.954 522.762 475.195 522.749C474.451 522.757 473.604 522.946 472.652 523.315C471.701 523.683 470.672 524.109 469.567 524.592C468.44 525.091 467.3 525.549 466.146 525.966C464.97 526.399 463.808 526.669 462.66 526.775C461.513 526.88 460.404 526.718 459.335 526.289C458.243 525.876 457.249 525.067 456.351 523.862C455.388 522.57 454.868 521.118 454.791 519.506C454.714 517.894 455.154 516.221 456.11 514.486C457.044 512.768 458.606 511.093 460.797 509.461Z" fill="#BDF69B"/>
          <path d="M433.902 527.692C435.946 526.535 438.007 525.934 440.084 525.888C442.138 525.856 444.045 526.314 445.806 527.263C447.557 528.249 448.971 529.693 450.048 531.595C451.138 533.521 451.648 535.476 451.579 537.461C451.5 539.484 450.911 541.355 449.813 543.075C448.705 544.832 447.128 546.29 445.084 547.447C443.063 548.591 441.015 549.185 438.937 549.231C436.874 549.301 434.973 548.854 433.235 547.892C431.498 546.929 430.077 545.473 428.974 543.524C427.897 541.622 427.387 539.667 427.443 537.658C427.512 535.673 428.1 533.801 429.209 532.044C430.317 530.287 431.881 528.836 433.902 527.692ZM436.485 532.257C435.558 532.781 434.847 533.466 434.353 534.311C433.858 535.156 433.619 536.092 433.635 537.119C433.665 538.169 433.989 539.241 434.608 540.335C435.24 541.452 435.992 542.282 436.864 542.824C437.736 543.366 438.662 543.643 439.641 543.654C440.62 543.664 441.573 543.407 442.5 542.883C443.427 542.358 444.138 541.673 444.633 540.828C445.128 539.983 445.379 539.04 445.387 538C445.37 536.973 445.046 535.901 444.414 534.784C443.795 533.691 443.043 532.861 442.157 532.295C441.261 531.766 440.324 531.496 439.345 531.486C438.366 531.475 437.413 531.732 436.485 532.257Z" fill="#BDF69B"/>
          <path d="M405.611 541.986C407.307 541.3 408.96 541.014 410.568 541.13C412.151 541.256 413.581 541.842 414.859 542.887C416.146 543.957 417.215 545.543 418.065 547.645L422.734 559.193L416.809 561.589L412.492 550.915C411.806 549.219 410.945 548.108 409.908 547.585C408.856 547.097 407.672 547.119 406.355 547.652C405.443 548.02 404.71 548.538 404.154 549.204C403.609 549.896 403.298 550.729 403.22 551.704C403.153 552.703 403.37 553.823 403.872 555.064L407.958 565.168L402.032 567.565L393.768 547.129L399.39 544.855L401.663 550.477L399.977 549.258C400.087 547.564 400.665 546.078 401.71 544.801C402.74 543.559 404.04 542.621 405.611 541.986Z" fill="#BDF69B"/>
          <path d="M374.124 576.599C372.429 577.028 370.832 577.065 369.334 576.712C367.816 576.391 366.495 575.626 365.372 574.417C364.256 573.234 363.424 571.557 362.874 569.385L359.78 557.15L365.977 555.583L368.83 566.865C369.265 568.586 369.971 569.76 370.946 570.387C371.896 571.02 373.059 571.163 374.436 570.815C375.416 570.567 376.249 570.131 376.937 569.506C377.604 568.915 378.056 568.138 378.292 567.177C378.501 566.222 378.438 565.083 378.104 563.759L375.431 553.192L381.628 551.625L387.033 572.997L381.114 574.493L379.617 568.575L381.182 570.081C380.775 571.705 379.954 573.082 378.718 574.212C377.482 575.341 375.951 576.137 374.124 576.599Z" fill="#BDF69B"/>
          <path d="M338.007 560.62C340.069 560.385 341.981 560.635 343.742 561.369C345.505 562.131 346.971 563.298 348.14 564.869C349.281 566.444 349.982 568.371 350.241 570.651C350.503 572.958 350.255 575.007 349.497 576.798C348.711 578.592 347.543 580.044 345.992 581.155C344.442 582.266 342.635 582.939 340.572 583.174C338.727 583.384 337.066 583.16 335.589 582.504C334.112 581.847 332.899 580.734 331.951 579.165C331.003 577.596 330.382 575.522 330.089 572.944C329.799 570.392 329.924 568.234 330.466 566.467C331.01 564.729 331.928 563.373 333.22 562.401C334.484 561.433 336.08 560.839 338.007 560.62ZM337.5 565.956C336.469 566.073 335.56 566.424 334.775 567.008C333.989 567.592 333.403 568.36 333.016 569.311C332.605 570.293 332.471 571.408 332.613 572.656C332.758 573.932 333.139 574.988 333.757 575.825C334.347 576.665 335.091 577.282 335.988 577.675C336.885 578.067 337.849 578.205 338.88 578.088C339.939 577.967 340.861 577.615 341.647 577.031C342.433 576.447 343.032 575.677 343.446 574.723C343.833 573.772 343.954 572.658 343.809 571.383C343.667 570.134 343.299 569.076 342.705 568.209C342.088 567.372 341.33 566.757 340.433 566.364C339.537 565.972 338.559 565.835 337.5 565.956ZM331.204 561.724L331.714 566.202L332.333 572.73L333.476 579.156L334.926 591.899L328.575 592.621L325.138 562.414L331.204 561.724Z" fill="#BDF69B"/>
          <path d="M288.15 562.509C290.494 562.668 292.546 563.3 294.305 564.406C296.037 565.509 297.377 566.942 298.325 568.704C299.243 570.491 299.629 572.475 299.48 574.655C299.33 576.863 298.68 578.776 297.529 580.396C296.35 582.04 294.828 583.278 292.964 584.11C291.072 584.967 288.953 585.315 286.61 585.156C284.293 584.998 282.255 584.367 280.496 583.262C278.735 582.184 277.394 580.764 276.473 579.004C275.553 577.244 275.168 575.247 275.321 573.012C275.469 570.832 276.119 568.918 277.272 567.272C278.422 565.653 279.944 564.415 281.836 563.558C283.729 562.701 285.834 562.351 288.15 562.509ZM287.794 567.741C286.731 567.669 285.761 567.849 284.883 568.282C284.005 568.715 283.29 569.365 282.738 570.231C282.184 571.124 281.865 572.198 281.779 573.451C281.692 574.732 281.863 575.839 282.293 576.772C282.722 577.704 283.343 578.445 284.154 578.993C284.966 579.541 285.903 579.851 286.966 579.923C288.029 579.996 288.999 579.815 289.877 579.382C290.755 578.949 291.484 578.3 292.063 577.436C292.615 576.57 292.934 575.497 293.021 574.216C293.107 572.962 292.936 571.856 292.508 570.896C292.051 569.961 291.417 569.22 290.606 568.672C289.794 568.124 288.857 567.814 287.794 567.741Z" fill="#BDF69B"/>
          <path d="M248.175 580.273C246.462 579.923 245.008 579.263 243.812 578.294C242.584 577.346 241.727 576.083 241.241 574.506C240.749 572.956 240.728 571.083 241.176 568.889L243.704 556.525L249.966 557.805L247.636 569.206C247.28 570.945 247.406 572.309 248.012 573.297C248.592 574.28 249.578 574.914 250.969 575.198C251.959 575.401 252.9 575.37 253.79 575.106C254.648 574.863 255.392 574.36 256.022 573.597C256.626 572.828 257.064 571.774 257.338 570.436L259.521 559.758L265.783 561.038L261.368 582.636L255.386 581.413L256.609 575.431L257.364 577.468C256.292 578.754 254.955 579.638 253.351 580.118C251.747 580.599 250.022 580.651 248.175 580.273Z" fill="#BDF69B"/>
          <path d="M228.72 552.088C229.766 552.403 230.562 553.028 231.108 553.962C231.62 554.915 231.707 555.954 231.369 557.079C231.03 558.204 230.392 558.996 229.455 559.455C228.484 559.933 227.475 560.015 226.429 559.7C225.357 559.377 224.561 558.753 224.041 557.826C223.513 556.926 223.418 555.913 223.757 554.788C224.095 553.663 224.741 552.845 225.694 552.333C226.639 551.847 227.647 551.766 228.72 552.088Z" fill="#BDF69B"/>
          <path d="M207.972 545.961L195.625 571.849L183.865 566.24C181.054 564.9 178.835 563.176 177.207 561.068C175.568 558.984 174.602 556.693 174.311 554.194C174.02 551.695 174.504 549.126 175.762 546.488C177.009 543.874 178.7 541.882 180.837 540.51C182.963 539.163 185.357 538.459 188.019 538.397C190.67 538.36 193.4 539.011 196.211 540.352L207.972 545.961ZM199.635 548.022L194.161 545.412C192.435 544.589 190.791 544.198 189.228 544.239C187.628 544.293 186.195 544.76 184.928 545.639C183.637 546.506 182.604 547.753 181.828 549.38C181.04 551.032 180.721 552.62 180.872 554.145C180.986 555.682 181.531 557.077 182.508 558.33C183.447 559.595 184.78 560.639 186.506 561.462L191.98 564.073L199.635 548.022Z" fill="#BDF69B"/>
          <path d="M169.856 526.66L157.963 545.22L152.823 541.927L156.183 536.683L155.935 538.665C154.543 539.622 153.023 540.044 151.377 539.93C149.716 539.839 148.011 539.233 146.264 538.113L149.447 533.145C149.662 533.316 149.862 533.46 150.046 533.578C150.215 533.719 150.403 533.855 150.61 533.988C152.082 534.931 153.551 535.272 155.016 535.01C156.443 534.757 157.725 533.745 158.859 531.974L164.474 523.211L169.856 526.66Z" fill="#BDF69B"/>
          <path d="M151.999 514.852L138.914 532.593L133.77 528.799L146.854 511.058L151.999 514.852ZM134.518 533.169C135.463 533.866 136.03 534.709 136.218 535.696C136.406 536.683 136.201 537.584 135.601 538.397C135.001 539.21 134.201 539.673 133.202 539.785C132.204 539.897 131.231 539.604 130.286 538.907C129.341 538.21 128.766 537.378 128.562 536.413C128.341 535.47 128.531 534.591 129.131 533.778C129.763 532.92 130.587 532.425 131.602 532.291C132.579 532.163 133.551 532.456 134.518 533.169Z" fill="#BDF69B"/>
          <path d="M140.404 506.108L125.933 523.383C124.337 525.289 122.499 526.333 120.421 526.517C118.326 526.721 116.231 525.946 114.137 524.192C113.425 523.596 112.806 522.953 112.28 522.262C111.732 521.554 111.36 520.85 111.162 520.15L115.423 517.68C115.538 518.096 115.719 518.497 115.966 518.883C116.213 519.268 116.525 519.618 116.902 519.934C117.614 520.531 118.345 520.786 119.093 520.701C119.804 520.618 120.501 520.169 121.185 519.352L122.5 517.782L124.138 515.572L135.504 502.003L140.404 506.108ZM132.329 521.044L129.171 524.813L117.455 514.999L120.613 511.23L132.329 521.044Z" fill="#BDF69B"/>
          <path d="M121.017 488.368C122.874 490.181 123.862 492.062 123.981 494.012C124.082 495.981 123.216 497.904 121.383 499.78L107.87 513.615L103.298 509.149L116.753 495.372C117.402 494.708 117.732 494.018 117.743 493.303C117.735 492.608 117.428 491.964 116.822 491.373C116.099 490.667 115.293 490.261 114.403 490.155L116.321 485.729C117.115 485.854 117.929 486.154 118.766 486.627C119.563 487.1 120.314 487.681 121.017 488.368ZM117.489 508.634L114.054 512.152L103.12 501.473L106.556 497.955L117.489 508.634Z" fill="#BDF69B"/>
          <path d="M97.8739 462.415C99.2913 464.289 100.16 466.252 100.48 468.305C100.784 470.336 100.582 472.287 99.8738 474.158C99.1277 476.025 97.8834 477.617 96.1407 478.935C94.3762 480.27 92.5055 481.035 90.5287 481.229C88.5135 481.418 86.5808 481.082 84.7306 480.221C82.8421 479.355 81.1892 477.985 79.7718 476.112C78.3708 474.26 77.5103 472.308 77.1903 470.255C76.8484 468.219 77.0397 466.276 77.7639 464.426C78.4882 462.576 79.7435 460.976 81.5297 459.624C83.2724 458.306 85.1431 457.541 87.1417 457.331C89.1186 457.137 91.0513 457.473 92.9398 458.339C94.8283 459.205 96.473 460.564 97.8739 462.415ZM93.6915 465.58C93.0487 464.73 92.2758 464.116 91.3727 463.738C90.4697 463.359 89.5104 463.246 88.4949 463.397C87.4576 463.566 86.4379 464.029 85.4359 464.787C84.412 465.562 83.689 466.417 83.2668 467.353C82.8447 468.289 82.693 469.243 82.8118 470.215C82.9306 471.187 83.3114 472.098 83.9542 472.947C84.597 473.797 85.3699 474.411 86.2729 474.789C87.176 475.168 88.1435 475.292 89.1755 475.162C90.191 475.011 91.2107 474.547 92.2345 473.773C93.2366 473.015 93.9596 472.159 94.4036 471.207C94.8093 470.249 94.9527 469.284 94.8339 468.312C94.715 467.34 94.3342 466.429 93.6915 465.58Z" fill="#BDF69B"/>
          <path d="M83.8741 443.24L64.6431 454.989C62.5219 456.285 60.4474 456.688 58.4196 456.198C56.3685 455.723 54.631 454.319 53.2069 451.988C52.7227 451.196 52.3415 450.388 52.0632 449.566C51.7707 448.72 51.6426 447.934 51.679 447.208L56.5058 446.228C56.4812 446.659 56.5245 447.097 56.6358 447.541C56.7471 447.985 56.9309 448.417 57.1872 448.836C57.6714 449.629 58.2819 450.104 59.0187 450.262C59.7179 450.411 60.5221 450.208 61.4312 449.653L63.1795 448.585L65.4367 447.014L80.5418 437.786L83.8741 443.24ZM71.4511 454.815L67.2552 457.378L59.2876 444.336L63.4834 441.773L71.4511 454.815Z" fill="#BDF69B"/>
          <path d="M74.6285 427.632L54.6178 437.997C52.4106 439.14 50.3128 439.396 48.3246 438.765C46.3121 438.146 44.6777 436.624 43.4214 434.199C42.9942 433.374 42.6708 432.542 42.4511 431.702C42.2189 430.838 42.1465 430.045 42.2339 429.322L47.1178 428.685C47.0629 429.113 47.0752 429.553 47.155 430.004C47.2347 430.455 47.3877 430.898 47.6138 431.335C48.041 432.16 48.6165 432.677 49.3403 432.886C50.0273 433.084 50.8437 432.938 51.7897 432.448L53.6089 431.506L55.9711 430.098L71.6886 421.957L74.6285 427.632ZM61.4211 438.303L57.0551 440.565L50.0259 426.994L54.3918 424.732L61.4211 438.303Z" fill="#BDF69B"/>
          <path d="M66.2399 409.905C66.6873 410.902 66.7368 411.913 66.3883 412.937C66.0036 413.948 65.2755 414.694 64.2039 415.175C63.1323 415.656 62.1159 415.693 61.1548 415.286C60.1576 414.865 59.4353 414.157 58.9879 413.16C58.5293 412.138 58.4798 411.127 58.8395 410.127C59.1743 409.139 59.8775 408.404 60.9491 407.923C62.0207 407.442 63.062 407.394 64.073 407.779C65.059 408.174 65.7813 408.883 66.2399 409.905Z" fill="#BDF69B"/>
          <path d="M57.0968 390.622L29.3448 397.866L27.9581 392.554L44.4592 375.627L45.1939 378.442L22.5768 371.938L21.2005 366.665L48.9318 359.342L50.5047 365.368L32.0005 370.24L31.7108 369.13L49.7131 374.34L50.4686 377.234L37.3611 390.777L37.0093 389.429L55.5238 384.596L57.0968 390.622Z" fill="#BDF69B"/>
          <path d="M44.3654 329.512L40.0854 329.949L39.1894 330.452L31.5261 331.234C30.1674 331.373 29.1505 331.902 28.4756 332.822C27.7979 333.715 27.5464 335.018 27.7211 336.73C27.8404 337.898 28.1485 339.034 28.6454 340.136C29.1124 341.214 29.6986 342.115 30.4041 342.84L26.1939 345.576C25.2295 344.466 24.4303 343.092 23.7964 341.455C23.1624 339.817 22.7567 338.129 22.5792 336.389C22.2381 333.047 22.7613 330.371 24.1489 328.363C25.5365 326.354 27.9015 325.179 31.244 324.838L43.758 323.561L44.3654 329.512ZM45.3737 336.164C45.5485 337.876 45.4129 339.372 44.967 340.653C44.494 341.937 43.788 342.957 42.8491 343.711C41.9102 344.466 40.8157 344.907 39.5656 345.035C38.2613 345.168 37.088 344.972 36.0459 344.447C35.0011 343.895 34.1362 342.953 33.4512 341.623C32.7391 340.295 32.2694 338.517 32.0419 336.289L31.4471 330.46L35.1564 330.081L35.6806 335.217C35.8331 336.712 36.1831 337.719 36.7305 338.24C37.2751 338.734 37.9143 338.943 38.648 338.868C39.4632 338.785 40.0835 338.406 40.5089 337.731C40.9043 337.032 41.0452 336.125 40.9315 335.011C40.8233 333.951 40.4817 333.025 39.9065 332.232C39.3042 331.443 38.4945 330.907 37.4774 330.627L40.3125 329.349C41.7727 329.667 42.9321 330.4 43.7906 331.548C44.6491 332.696 45.1768 334.234 45.3737 336.164Z" fill="#BDF69B"/>
          <path d="M43.327 303.333C43.3078 305.218 43.0708 307.032 42.6159 308.776C42.1341 310.492 41.5465 311.852 40.8534 312.855L36.2862 310.678C36.9248 309.674 37.4559 308.491 37.8795 307.129C38.2761 305.74 38.4812 304.376 38.4949 303.038C38.5099 301.563 38.3429 300.523 37.994 299.919C37.6453 299.287 37.1568 298.968 36.5286 298.961C36.0096 298.956 35.6247 299.198 35.3738 299.687C35.096 300.149 34.8847 300.775 34.74 301.565C34.5954 302.356 34.4499 303.229 34.3036 304.183C34.1576 305.111 33.9704 306.051 33.7422 307.005C33.4866 307.959 33.1226 308.829 32.6502 309.616C32.1777 310.404 31.543 311.039 30.7458 311.523C29.949 311.979 28.9223 312.201 27.6658 312.188C26.2728 312.174 25.0477 311.765 23.9905 310.962C22.9336 310.132 22.1124 308.949 21.5271 307.413C20.9144 305.877 20.619 304.044 20.6407 301.913C20.656 300.411 20.8355 298.883 21.1791 297.33C21.5228 295.776 22.014 294.483 22.6528 293.452L27.179 295.629C26.5399 296.688 26.1055 297.762 25.8759 298.853C25.6192 299.915 25.4857 300.952 25.4754 301.963C25.4609 303.383 25.6415 304.423 26.0173 305.082C26.393 305.742 26.8813 306.075 27.4822 306.081C28.0285 306.086 28.4406 305.858 28.7185 305.397C28.9966 304.908 29.2217 304.268 29.3937 303.478C29.5656 302.687 29.7246 301.829 29.8707 300.901C29.9897 299.946 30.1769 298.992 30.4325 298.039C30.6881 297.085 31.052 296.228 31.5241 295.468C31.9692 294.681 32.5903 294.045 33.3875 293.561C34.1573 293.077 35.1704 292.842 36.4269 292.855C37.7926 292.869 39.004 293.291 40.0609 294.121C41.0905 294.951 41.8978 296.148 42.4829 297.711C43.0682 299.246 43.3496 301.121 43.327 303.333Z" fill="#BDF69B"/>
          <path d="M39.3805 279.792L31.6686 278.714L23.1928 267.355L24.0883 259.787L32.8971 270.773L35.1927 274.386L39.3805 279.792ZM43.2353 285.571L13.0432 281.998L13.7943 275.65L43.9864 279.223L43.2353 285.571ZM45.166 269.254L35.0937 275.571L30.642 271.001L46.076 261.563L45.166 269.254Z" fill="#BDF69B"/>
          <path d="M53.1263 232.114C52.4494 234.363 51.3764 236.223 49.9073 237.692C48.4461 239.135 46.7512 240.122 44.8224 240.655C42.8754 241.153 40.8556 241.087 38.763 240.457C36.6443 239.819 34.9236 238.76 33.6009 237.278C32.26 235.762 31.3915 234.003 30.9955 232.001C30.5813 229.965 30.7126 227.822 31.3895 225.573C32.0586 223.349 33.1277 221.503 34.5967 220.034C36.0396 218.557 37.7215 217.565 39.6424 217.059C41.5632 216.553 43.5961 216.623 45.741 217.269C47.8336 217.898 49.5543 218.958 50.9031 220.448C52.2258 221.93 53.0942 223.689 53.5085 225.725C53.9228 227.761 53.7954 229.89 53.1263 232.114ZM48.1041 230.602C48.4111 229.582 48.4512 228.596 48.2243 227.643C47.9975 226.691 47.5234 225.849 46.8019 225.119C46.0542 224.38 45.0787 223.83 43.8755 223.468C42.6461 223.098 41.529 223.018 40.5241 223.23C39.5192 223.441 38.6593 223.881 37.9445 224.55C37.2297 225.219 36.7187 226.064 36.4118 227.084C36.1048 228.104 36.0647 229.09 36.2915 230.043C36.5183 230.996 36.9885 231.85 37.7022 232.607C38.4237 233.338 39.3991 233.888 40.6285 234.258C41.8318 234.62 42.9489 234.699 43.9799 234.496C44.9927 234.259 45.8565 233.806 46.5713 233.136C47.2862 232.467 47.7971 231.623 48.1041 230.602Z" fill="#BDF69B"/>
          <path d="M44.389 189.583C45.1064 187.989 46.0691 186.715 47.2772 185.76C48.4716 184.77 49.8915 184.211 51.5368 184.083C53.1572 183.943 54.9887 184.333 57.0314 185.252L68.54 190.43L65.9171 196.259L55.3053 191.485C53.6861 190.756 52.3279 190.579 51.2306 190.954C50.1445 191.304 49.3101 192.127 48.7272 193.422C48.3125 194.344 48.1363 195.268 48.1986 196.195C48.2472 197.085 48.5748 197.922 49.1813 198.704C49.7991 199.461 50.7308 200.12 51.9763 200.68L61.9156 205.153L59.2927 210.982L39.19 201.936L41.6952 196.369L47.2627 198.874L45.1104 199.163C44.0903 197.836 43.5217 196.337 43.4046 194.667C43.2874 192.996 43.6156 191.302 44.389 189.583Z" fill="#BDF69B"/>
          <path d="M75.7652 177.357C75.2306 178.31 74.4479 178.951 73.4171 179.281C72.3758 179.574 71.343 179.433 70.3186 178.858C69.2942 178.284 68.6594 177.489 68.4142 176.474C68.1586 175.423 68.2981 174.42 68.8327 173.467C69.3807 172.491 70.1634 171.849 71.1808 171.543C72.1745 171.224 73.1835 171.351 74.2079 171.926C75.2323 172.501 75.8909 173.309 76.1837 174.35C76.4527 175.378 76.3132 176.38 75.7652 177.357Z" fill="#BDF69B"/>
          <path d="M93.2897 150.164C91.9077 151.996 90.3434 153.57 88.5968 154.887C86.8284 156.188 85.1651 157.054 83.6068 157.487L80.9738 152.677C82.4119 152.222 83.8618 151.503 85.3233 150.518C86.7795 149.495 88.0259 148.297 89.0624 146.923C89.8521 145.877 90.3874 144.963 90.6683 144.183C90.9438 143.364 91.0114 142.662 90.8711 142.077C90.7307 141.492 90.4207 141.019 89.941 140.657C89.3304 140.196 88.6697 140.074 87.9589 140.29C87.2262 140.49 86.4547 140.901 85.6444 141.521C84.8122 142.125 83.9361 142.833 83.0159 143.644C82.0904 144.417 81.113 145.168 80.0838 145.898C79.0711 146.605 78.0287 147.17 76.9567 147.593C75.8846 148.016 74.7669 148.182 73.6035 148.091C72.4566 147.979 71.2725 147.462 70.0514 146.54C68.7431 145.553 67.818 144.308 67.276 142.804C66.7287 141.262 66.6736 139.543 67.1106 137.649C67.5424 135.716 68.5727 133.67 70.2015 131.512C71.2874 130.072 72.5312 128.787 73.9331 127.654C75.3132 126.506 76.7443 125.652 78.2264 125.094L81.0155 129.765C79.5988 130.372 78.3456 131.104 77.256 131.958C76.1445 132.796 75.2021 133.728 74.4288 134.753C73.6556 135.777 73.142 136.707 72.8883 137.543C72.6346 138.378 72.597 139.085 72.7756 139.665C72.9324 140.228 73.2616 140.699 73.7631 141.077C74.3519 141.521 75.0126 141.643 75.7452 141.443C76.4561 141.227 77.2167 140.808 78.027 140.188C78.8374 139.567 79.7053 138.871 80.6308 138.098C81.5728 137.303 82.5393 136.543 83.5302 135.82C84.5376 135.074 85.5773 134.49 86.6493 134.067C87.7214 133.644 88.8308 133.489 89.9778 133.601C91.1412 133.692 92.3226 134.19 93.5218 135.095C94.8084 136.065 95.7144 137.314 96.2399 138.839C96.7654 140.365 96.8123 142.094 96.3806 144.027C95.9653 145.938 94.935 147.984 93.2897 150.164Z" fill="#BDF69B"/>
          <path d="M113.735 125.241C112.099 126.928 110.292 128.086 108.312 128.715C106.351 129.325 104.391 129.423 102.434 129.009C100.476 128.556 98.7124 127.569 97.1436 126.048C95.5551 124.508 94.5142 122.775 94.0209 120.851C93.527 118.889 93.5643 116.927 94.1329 114.967C94.7009 112.969 95.8026 111.126 97.4379 109.44C99.0542 107.773 100.852 106.625 102.832 105.995C104.793 105.347 106.742 105.24 108.681 105.673C110.619 106.107 112.392 107.104 114 108.663C115.569 110.184 116.61 111.916 117.123 113.859C117.616 115.783 117.579 117.745 117.011 119.743C116.443 121.742 115.351 123.574 113.735 125.241ZM109.969 121.59C110.711 120.826 111.2 119.968 111.436 119.018C111.673 118.068 111.639 117.102 111.334 116.122C111.009 115.122 110.396 114.185 109.494 113.311C108.572 112.417 107.617 111.833 106.627 111.558C105.638 111.284 104.672 111.279 103.729 111.545C102.787 111.811 101.945 112.326 101.203 113.091C100.462 113.856 99.9726 114.713 99.7361 115.663C99.4997 116.614 99.5244 117.589 99.8102 118.589C100.115 119.569 100.728 120.506 101.65 121.4C102.552 122.275 103.508 122.859 104.517 123.152C105.525 123.407 106.501 123.402 107.443 123.136C108.386 122.871 109.228 122.355 109.969 121.59Z" fill="#BDF69B"/>
          <path d="M137.06 103.204C135.625 104.34 134.12 105.079 132.544 105.421C130.989 105.746 129.452 105.587 127.933 104.943C126.396 104.279 124.924 103.057 123.516 101.28L115.785 91.514L120.796 87.5463L127.943 96.5734C129.079 98.0083 130.218 98.831 131.36 99.0416C132.507 99.2137 133.637 98.859 134.751 97.9773C135.522 97.3669 136.08 96.6637 136.425 95.8677C136.754 95.0502 136.818 94.1632 136.618 93.2066C136.401 92.2285 135.877 91.2148 135.047 90.1654L128.281 81.6202L133.293 77.6526L146.976 94.9357L142.221 98.6999L138.457 93.9454L140.418 94.6401C140.79 96.2972 140.654 97.8856 140.01 99.4054C139.371 100.887 138.388 102.153 137.06 103.204Z" fill="#BDF69B"/>
          <path d="M156.217 61.7386C157.719 60.8438 159.239 60.3519 160.776 60.263C162.322 60.1367 163.806 60.4926 165.227 61.3309C166.635 62.1457 167.912 63.5153 169.058 65.4395L175.518 76.2812L170.026 79.5528L164.07 69.556C163.162 68.0306 162.15 67.1069 161.036 66.7849C159.946 66.4489 158.791 66.6444 157.57 67.3715C156.702 67.8888 156.028 68.5449 155.547 69.3398C155.077 70.0972 154.865 70.9703 154.914 71.9589C154.986 72.9335 155.371 74.0075 156.07 75.1809L161.649 84.5441L156.158 87.8157L144.875 68.878L150.12 65.7532L153.244 70.998L151.315 70.0012C151.241 68.3286 151.634 66.7745 152.496 65.3389C153.358 63.9034 154.598 62.7033 156.217 61.7386Z" fill="#BDF69B"/>
          <path d="M196.295 66.1283C194.382 66.9355 192.477 67.2352 190.581 67.0274C188.674 66.7944 186.939 66.0889 185.374 64.9109C183.835 63.7223 182.619 62.071 181.727 59.957C180.824 57.8178 180.484 55.7822 180.706 53.8501C180.954 51.9074 181.665 50.1843 182.839 48.6808C184.013 47.1773 185.556 46.0219 187.469 45.2147C189.18 44.4925 190.837 44.2381 192.439 44.4514C194.041 44.6648 195.518 45.3904 196.871 46.6281C198.223 47.8659 199.404 49.6803 200.413 52.0711C201.412 54.4368 201.9 56.5432 201.879 58.3903C201.848 60.2122 201.349 61.7715 200.384 63.0682C199.445 64.3542 198.081 65.3742 196.295 66.1283ZM195.275 60.8662C196.231 60.4626 197.004 59.8697 197.593 59.0874C198.182 58.3052 198.527 57.4032 198.63 56.3815C198.747 55.3241 198.561 54.2165 198.073 53.0588C197.573 51.876 196.91 50.9702 196.081 50.3415C195.277 49.7022 194.39 49.3206 193.419 49.1969C192.447 49.0731 191.483 49.213 190.527 49.6166C189.546 50.0308 188.76 50.629 188.171 51.4113C187.582 52.1935 187.224 53.1008 187.096 54.1331C186.994 55.1548 187.192 56.257 187.691 57.4399C188.18 58.5975 188.831 59.5086 189.645 60.1731C190.474 60.8018 191.374 61.1781 192.345 61.3018C193.317 61.4256 194.293 61.2804 195.275 60.8662ZM202.509 63.1499L200.757 58.9974L198.321 52.9096L195.41 47.0666L190.424 35.2508L196.313 32.7655L208.134 60.7762L202.509 63.1499Z" fill="#BDF69B"/>
          <path d="M241.092 50.7223C238.8 51.237 236.653 51.2152 234.652 50.6567C232.677 50.0923 230.985 49.1005 229.574 47.6815C228.184 46.2299 227.25 44.438 226.771 42.3058C226.286 40.147 226.365 38.1276 227.006 36.2477C227.669 34.3352 228.775 32.715 230.324 31.3871C231.894 30.0266 233.826 29.089 236.118 28.5743C238.383 28.0655 240.516 28.0903 242.518 28.6488C244.513 29.1806 246.202 30.159 247.586 31.584C248.97 33.009 249.907 34.8142 250.398 36.9997C250.877 39.1319 250.799 41.1512 250.163 43.0578C249.521 44.9377 248.415 46.5578 246.845 47.9184C245.275 49.2789 243.357 50.2135 241.092 50.7223ZM239.942 45.605C240.982 45.3716 241.861 44.9222 242.579 44.2569C243.298 43.5917 243.798 42.7654 244.08 41.7781C244.357 40.7642 244.357 39.6442 244.082 38.4182C243.8 37.1656 243.321 36.1534 242.644 35.3816C241.967 34.6098 241.161 34.0768 240.227 33.7826C239.293 33.4884 238.306 33.4581 237.267 33.6915C236.228 33.9249 235.349 34.3743 234.63 35.0396C233.912 35.7049 233.398 36.5341 233.089 37.5274C232.807 38.5146 232.806 39.6346 233.088 40.8872C233.363 42.1132 233.842 43.1255 234.526 43.9239C235.229 44.6897 236.048 45.2197 236.982 45.5139C237.916 45.8081 238.903 45.8385 239.942 45.605Z" fill="#BDF69B"/>
          <path d="M274.548 22.0309C276.29 21.8736 277.872 22.0871 279.296 22.6715C280.745 23.2262 281.929 24.1889 282.849 25.5595C283.766 26.9028 284.325 28.6899 284.526 30.9207L285.662 43.4895L279.296 44.0649L278.249 32.4755C278.089 30.7071 277.577 29.4369 276.711 28.6649C275.873 27.8903 274.747 27.567 273.332 27.6949C272.326 27.7858 271.434 28.0858 270.657 28.5949C269.905 29.0743 269.337 29.7701 268.954 30.6825C268.597 31.5924 268.48 32.7275 268.603 34.0877L269.584 44.9426L263.218 45.5179L261.234 23.5634L267.314 23.0139L267.864 29.0942L266.555 27.3611C267.211 25.8207 268.238 24.5897 269.636 23.668C271.034 22.7463 272.671 22.2006 274.548 22.0309Z" fill="#BDF69B"/>
          <path d="M302.474 43.2893C301.381 43.2866 300.439 42.9155 299.649 42.176C298.886 41.4092 298.506 40.4385 298.509 39.264C298.512 38.0894 298.897 37.1479 299.663 36.4396C300.457 35.704 301.401 35.3376 302.493 35.3403C303.613 35.3431 304.555 35.7142 305.318 36.4536C306.081 37.1657 306.461 38.1091 306.458 39.2837C306.455 40.4583 306.07 41.427 305.304 42.19C304.537 42.9256 303.594 43.292 302.474 43.2893Z" fill="#BDF69B"/>
          <path d="M324.324 43.0467L328.78 14.7131L341.651 16.7374C344.727 17.2211 347.346 18.2413 349.507 19.7978C351.672 21.3273 353.25 23.2485 354.241 25.5612C355.233 27.8739 355.501 30.4739 355.047 33.3613C354.597 36.2216 353.544 38.6137 351.886 40.5375C350.233 42.4344 348.139 43.7918 345.605 44.6099C343.075 45.4011 340.271 45.5547 337.195 45.071L324.324 43.0467ZM331.727 38.6946L337.718 39.6367C339.607 39.9337 341.295 39.8397 342.781 39.3545C344.299 38.8466 345.54 37.9909 346.503 36.7875C347.494 35.5884 348.129 34.0983 348.409 32.3173C348.693 30.5094 348.546 28.8962 347.967 27.4779C347.42 26.0368 346.499 24.8552 345.206 23.9329C343.945 22.9879 342.37 22.3669 340.481 22.0698L334.49 21.1277L331.727 38.6946Z" fill="#BDF69B"/>
          <path d="M367.078 50.7258L373.192 29.5465L379.057 31.2397L377.33 37.2235L377.003 35.2527C378.065 33.9386 379.401 33.1017 381.012 32.7422C382.63 32.3564 384.437 32.4513 386.431 33.0271L384.795 38.6959C384.54 38.5939 384.308 38.5126 384.098 38.452C383.895 38.3651 383.676 38.2876 383.44 38.2194C381.76 37.7346 380.255 37.8262 378.925 38.4942C377.629 39.1435 376.689 40.4786 376.106 42.4994L373.219 52.4986L367.078 50.7258Z" fill="#BDF69B"/>
          <path d="M387.404 56.8703L394.932 36.1513L400.939 38.334L393.412 59.053L387.404 56.8703ZM398.985 34.3543C397.881 33.9532 397.099 33.3058 396.639 32.4121C396.179 31.5184 396.121 30.5966 396.466 29.6466C396.812 28.6967 397.447 28.0267 398.374 27.6367C399.3 27.2467 400.315 27.2522 401.419 27.6533C402.523 28.0544 403.31 28.689 403.779 29.557C404.258 30.3994 404.325 31.2955 403.98 32.2455C403.616 33.2468 402.966 33.9552 402.03 34.3709C401.13 34.7702 400.114 34.7647 398.985 34.3543Z" fill="#BDF69B"/>
          <path d="M401.724 62.2315L410.742 41.5789C411.737 39.3009 413.205 37.7811 415.147 37.0196C417.1 36.2331 419.328 36.3864 421.832 37.4795C422.683 37.8511 423.458 38.294 424.158 38.8081C424.882 39.3332 425.438 39.9037 425.825 40.5197L422.432 44.0906C422.205 43.7232 421.919 43.3894 421.573 43.0894C421.227 42.7893 420.829 42.5409 420.378 42.3441C419.527 41.9724 418.754 41.9331 418.06 42.2261C417.402 42.5049 416.859 43.1325 416.433 44.1088L415.613 45.9863L414.665 48.5678L407.581 64.7895L401.724 62.2315ZM405.264 45.6252L407.232 41.1192L421.238 47.2353L419.27 51.7413L405.264 45.6252Z" fill="#BDF69B"/>
          <path d="M424.408 73.2847C422.113 72.0736 420.631 70.5504 419.963 68.7151C419.307 66.8557 419.591 64.7664 420.815 62.4471L429.84 45.3427L435.494 48.3257L426.506 65.3577C426.073 66.1791 425.952 66.9341 426.145 67.6225C426.35 68.2869 426.827 68.8166 427.576 69.2118C428.47 69.6835 429.359 69.8435 430.242 69.6918L429.66 74.4811C428.864 74.5859 427.998 74.5302 427.061 74.3142C426.162 74.0868 425.278 73.7436 424.408 73.2847ZM422.033 52.8513L424.328 48.5027L437.844 55.6353L435.55 59.9839L422.033 52.8513Z" fill="#BDF69B"/>
          <path d="M454.569 91.9328C452.683 90.5316 451.299 88.8904 450.417 87.0095C449.556 85.1448 449.204 83.2151 449.359 81.2203C449.552 79.2199 450.301 77.3428 451.604 75.5888C452.924 73.8129 454.506 72.5549 456.349 71.8147C458.23 71.069 460.18 70.8501 462.197 71.1581C464.253 71.4605 466.223 72.3123 468.109 73.7136C469.972 75.0985 471.345 76.7315 472.228 78.6125C473.126 80.4715 473.487 82.3902 473.31 84.3687C473.133 86.3472 472.376 88.2353 471.04 90.0331C469.737 91.7871 468.155 93.0451 466.296 93.8072C464.452 94.5474 462.503 94.7662 460.447 94.4638C458.392 94.1615 456.432 93.3178 454.569 91.9328ZM457.697 87.7233C458.552 88.3588 459.466 88.7317 460.439 88.8422C461.412 88.9527 462.365 88.7928 463.297 88.3626C464.246 87.9104 465.095 87.1801 465.844 86.1715C466.61 85.1411 467.064 84.1175 467.207 83.1007C467.351 82.0839 467.229 81.1256 466.842 80.2259C466.456 79.3261 465.835 78.5585 464.98 77.9231C464.125 77.2876 463.211 76.9147 462.238 76.8042C461.265 76.6937 460.302 76.8455 459.348 77.2594C458.415 77.6896 457.566 78.42 456.8 79.4504C456.051 80.4589 455.596 81.4826 455.437 82.5213C455.316 83.5544 455.449 84.5208 455.835 85.4205C456.221 86.3203 456.842 87.0879 457.697 87.7233Z" fill="#BDF69B"/>
          <path d="M473.609 106.51L488.759 89.8262C490.43 87.986 492.307 87.0157 494.391 86.9153C496.493 86.7948 498.555 87.6527 500.577 89.489C501.265 90.1134 501.858 90.781 502.356 91.4918C502.875 92.221 503.219 92.9393 503.388 93.6466L499.032 95.9449C498.934 95.5242 498.769 95.1164 498.538 94.7214C498.306 94.3265 498.008 93.9638 497.644 93.6332C496.956 93.0089 496.237 92.7244 495.485 92.78C494.773 92.8336 494.058 93.2548 493.342 94.0435L491.965 95.5602L490.24 97.7027L478.341 110.807L473.609 106.51ZM482.274 91.9079L485.58 88.2679L496.894 98.5424L493.589 102.182L482.274 91.9079Z" fill="#BDF69B"/>
          <path d="M486.852 118.822L503.117 103.224C504.912 101.503 506.851 100.665 508.937 100.709C511.042 100.733 513.04 101.732 514.931 103.703C515.574 104.373 516.119 105.08 516.567 105.824C517.034 106.587 517.328 107.327 517.448 108.045L512.944 110.037C512.875 109.611 512.739 109.192 512.535 108.782C512.331 108.372 512.059 107.99 511.719 107.635C511.076 106.965 510.378 106.631 509.624 106.635C508.909 106.639 508.168 107.01 507.399 107.747L505.92 109.165L504.052 111.184L491.276 123.435L486.852 118.822ZM496.505 104.853L500.054 101.45L510.632 112.481L507.083 115.884L496.505 104.853Z" fill="#BDF69B"/>
          <path d="M499.46 132.898C498.748 132.07 498.413 131.115 498.456 130.033C498.538 128.955 499.024 128.033 499.915 127.267C500.806 126.502 501.77 126.177 502.807 126.295C503.883 126.415 504.777 126.889 505.489 127.718C506.219 128.568 506.553 129.523 506.492 130.583C506.452 131.626 505.986 132.531 505.096 133.296C504.205 134.062 503.22 134.404 502.141 134.322C501.084 134.222 500.19 133.748 499.46 132.898Z" fill="#BDF69B"/>
          <path d="M513.93 148.886L538.46 134.024L541.305 138.719L530.321 159.651L528.813 157.163L552.346 156.942L555.17 161.603L530.681 176.535L527.454 171.209L543.798 161.259L544.393 162.24L525.652 162.383L524.102 159.825L532.8 143.106L533.522 144.297L517.157 154.212L513.93 148.886Z" fill="#BDF69B"/>
          <path d="M544.032 204.692L548.014 203.064L548.731 202.329L555.862 199.414C557.126 198.897 557.952 198.102 558.339 197.029C558.737 195.981 558.611 194.66 557.96 193.067C557.515 191.98 556.899 190.978 556.111 190.061C555.358 189.158 554.541 188.459 553.66 187.964L556.926 184.15C558.165 184.942 559.319 186.034 560.39 187.426C561.461 188.818 562.327 190.323 562.988 191.941C564.259 195.051 564.513 197.766 563.75 200.085C562.986 202.404 561.049 204.199 557.939 205.47L546.295 210.23L544.032 204.692ZM541.186 198.596C540.534 197.003 540.242 195.529 540.308 194.174C540.399 192.809 540.788 191.632 541.476 190.643C542.163 189.653 543.088 188.921 544.251 188.446C545.465 187.95 546.646 187.806 547.794 188.016C548.952 188.25 550.048 188.909 551.081 189.992C552.139 191.064 553.092 192.637 553.939 194.711L556.156 200.134L552.705 201.545L550.751 196.766C550.183 195.376 549.563 194.508 548.89 194.163C548.229 193.843 547.556 193.823 546.874 194.102C546.115 194.412 545.627 194.951 545.41 195.719C545.228 196.501 545.349 197.411 545.773 198.447C546.176 199.434 546.765 200.226 547.541 200.823C548.341 201.411 549.269 201.695 550.324 201.677L547.966 203.704C546.475 203.812 545.156 203.436 544.008 202.577C542.86 201.718 541.919 200.391 541.186 198.596Z" fill="#BDF69B"/>
          <path d="M552.088 228.458C551.57 226.646 551.281 224.839 551.221 223.038C551.195 221.256 551.372 219.785 551.751 218.626L556.749 219.414C556.422 220.559 556.249 221.844 556.23 223.27C556.245 224.714 556.437 226.08 556.804 227.367C557.209 228.785 557.665 229.735 558.172 230.215C558.686 230.722 559.245 230.889 559.849 230.716C560.348 230.573 560.648 230.232 560.749 229.692C560.884 229.17 560.909 228.51 560.823 227.711C560.736 226.911 560.628 226.033 560.496 225.077C560.373 224.146 560.285 223.191 560.232 222.212C560.206 221.225 560.307 220.287 560.536 219.398C560.765 218.509 561.193 217.719 561.82 217.028C562.454 216.364 563.375 215.86 564.583 215.515C565.923 215.132 567.214 215.175 568.456 215.644C569.705 216.14 570.829 217.04 571.827 218.346C572.851 219.645 573.656 221.318 574.241 223.367C574.653 224.811 574.916 226.327 575.028 227.914C575.141 229.502 575.037 230.881 574.718 232.051L569.76 231.252C570.072 230.055 570.182 228.901 570.092 227.79C570.036 226.698 569.869 225.666 569.592 224.695C569.202 223.329 568.733 222.383 568.185 221.858C567.637 221.333 567.074 221.152 566.496 221.317C565.971 221.468 565.641 221.803 565.506 222.325C565.378 222.873 565.344 223.55 565.404 224.357C565.464 225.163 565.556 226.032 565.68 226.963C565.837 227.912 565.929 228.88 565.955 229.867C565.982 230.854 565.877 231.778 565.64 232.641C565.437 233.523 565.023 234.309 564.396 234.999C563.796 235.682 562.891 236.196 561.683 236.541C560.37 236.917 559.088 236.856 557.839 236.361C556.616 235.858 555.502 234.941 554.496 233.608C553.498 232.303 552.695 230.586 552.088 228.458Z" fill="#BDF69B"/>
          <path d="M562.509 249.713L570.208 248.549L581.568 257.024L582.865 264.534L571.293 256.512L568.063 253.702L562.509 249.713ZM557.168 245.271L587.127 240.097L588.215 246.396L558.256 251.57L557.168 245.271ZM559.964 261.462L567.82 252.538L573.389 255.651L561.282 269.093L559.964 261.462Z" fill="#BDF69B"/>
          </svg>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured product",
  "class": "shopify-section--featured-product",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Style",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "badges",
      "name": "Badges",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Use metafields to add custom badges. [Learn more](https://support.maestrooo.com/article/75-collection-displaying-custom-label)"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_taxes_notice",
          "label": "Show taxes notice",
          "default": false
        }
      ]
    },
    {
      "type": "payment_terms",
      "name": "Payment installments",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display payment installments, your store needs to support Shop Pay Installments. [Learn more](https://help.shopify.com/en/manual/payments/shop-pay-installments)"
        }
      ]
    },
    {
      "type": "rating",
      "name": "Rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/en/manual/products/product-reviews/installation)"
        },
        {
          "type": "checkbox",
          "id": "show_empty",
          "label": "Show if no reviews",
          "default": false
        }
      ]
    },
    {
      "type": "separator",
      "name": "Separator"
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "collapse_content",
          "label": "Collapse content",
          "default": false
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_sold_out_variants",
          "label": "Hide sold out variants",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "stack_blocks",
          "label": "Stack options on mobile",
          "default": true
        },
        {
          "type": "select",
          "id": "selector_mode",
          "label": "Selector type",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            }
          ],
          "default": "block"
        },
        {
          "type": "select",
          "id": "color_mode",
          "label": "Color selector type",
          "info": "Variant image mode requires that all variant have an associated image. [Learn more](https://help.shopify.com/en/manual/products/product-media/add-images-variants#add-images-to-existing-variants)",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "block_swatch",
              "label": "Block with color swatch"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "color",
              "label": "Color swatch"
            },
            {
              "value": "variant",
              "label": "Variant image"
            }
          ],
          "default": "color"
        },
        {
          "type": "page",
          "id": "size_chart_page",
          "label": "Size chart page",
          "info": "Feature a page for size option"
        }
      ]
    },
    {
      "type": "product_variations",
      "name": "Product variations",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Link products of different colors using swatches. [Learn more](https://support.maestrooo.com/article/307-product-creating-product-variations-that-link-to-different-pages)"
        },
        {
          "type": "text",
          "id": "option_name",
          "label": "Option name",
          "info": "Example: Color, Style..."
        },
        {
          "type": "text",
          "id": "option_value_metafield",
          "label": "Option value metafield",
          "info": "Enter namespace and key of the metafield holding the value. Eg.: custom.color"
        },
        {
          "type": "product_list",
          "id": "products",
          "label": "Products",
          "info": "Select all the variations (including the product itself)."
        },
        {
          "type": "select",
          "id": "color_mode",
          "label": "Selector type",
          "info": "Product image mode requires that all variant have an associated image. [Learn more](https://help.shopify.com/en/manual/products/product-media/add-images-variants#add-images-to-existing-variants)",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "block_swatch",
              "label": "Block with color swatch"
            },
            {
              "value": "color",
              "label": "Color swatch"
            },
            {
              "value": "variant",
              "label": "Product image"
            }
          ],
          "default": "color"
        }
      ]
    },
    {
      "type": "line_item_property",
      "name": "Line item property",
      "settings": [
        {
          "type": "paragraph",
          "content": "Line item properties are used to collect customization information for an item added to the cart."
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Your label"
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "checkbox",
              "label": "Checkbox"
            }
          ],
          "default": "text"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "info": "For text property, the customer must write a text ; for checkbox, the customer must check it to add to cart.",
          "default": false
        },
        {
          "type": "header",
          "content": "Text",
          "info": "Only applicable for line item property of type Text."
        },
        {
          "type": "checkbox",
          "id": "allow_long_text",
          "label": "Allow long text",
          "default": false
        },
        {
          "type": "number",
          "id": "max_length",
          "label": "Maximum number of characters"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "The selector is automatically hidden if all variants are sold out. When at least one variant is available, the selector is always visible to prevent the page from moving when switching variants."
        }
      ]
    },
    {
      "type": "inventory",
      "name": "Inventory",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "low_inventory_threshold",
          "label": "Low inventory threshold",
          "info": "Use low stock color when quantity is below the threshold. Choose 0 to always show in stock.",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "label": "Show recipient information form for gift cards",
          "info": "Allow buyers to send gift cards along with a personal message. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/add-gift-card-recipient-fields)",
          "default": true
        },
        {
          "type": "color",
          "id": "atc_button_background",
          "label": "Add to cart background"
        },
        {
          "type": "color",
          "id": "atc_button_text_color",
          "label": "Add to cart color"
        },
        {
          "type": "color",
          "id": "payment_button_background",
          "label": "Buy now button background"
        },
        {
          "type": "color",
          "id": "payment_button_text_color",
          "label": "Buy now button color"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "Pickup availability",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Allow your customers to see availability in retail stores by [setting up local pickup](https://help.shopify.com/en/manual/sell-in-person/shopify-pos/order-management/local-pickup-for-online-orders)."
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share some content to your customers about your products.</p>"
        }
      ]
    },
    {
      "type": "collapsible_text",
      "name": "Collapsible text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Share some content to your customers about your products.</p>"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "start"
        },
        {
          "type": "range",
          "id": "max_width",
          "min": 50,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Width",
          "default": 150
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "paragraph",
          "content": "Create link to your contact page, external marketplace..."
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Button"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "base",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            },
            {
              "value": "xl",
              "label": "X-Large"
            }
          ],
          "default": "xl"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Style",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "fill",
              "label": "Fill"
            }
          ],
          "default": "fill"
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch",
          "default": true
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "associated_products",
      "name": "Complementary products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To select complementary products, use the Search & Discovery app. [Learn more](https://help.shopify.com/en/manual/online-store/search-and-discovery/product-recommendations#complementary-products)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Buy it with"
        },
        {
          "type": "checkbox",
          "id": "stack_products",
          "label": "Stack products",
          "default": true
        },
        {
          "type": "range",
          "id": "products_count",
          "min": 1,
          "max": 10,
          "label": "Products to show",
          "default": 5
        },
        {
          "type": "header",
          "content": "Colors",
          "info": "Cards are bordered when background matches section background."
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        }
      ]
    },
    {
      "type": "offer",
      "name": "Offer",
      "settings": [
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "icon_position",
          "label": "Icon position",
          "options": [
            {
              "value": "aligned",
              "label": "Aligned horizontally"
            },
            {
              "value": "stacked",
              "label": "Stacked"
            }
          ],
          "default": "aligned"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "picto-coupon",
              "label": "Coupon",
              "group": "Shop"
            },
            {
              "value": "picto-percent",
              "label": "Percent",
              "group": "Shop"
            },
            {
              "value": "picto-gift",
              "label": "Gift",
              "group": "Shop"
            },
            {
              "value": "picto-star",
              "label": "Star",
              "group": "Shop"
            },
            {
              "value": "picto-like",
              "label": "Like",
              "group": "Shop"
            },
            {
              "value": "picto-building",
              "label": "Building",
              "group": "Shop"
            },
            {
              "value": "picto-love",
              "label": "Love",
              "group": "Shop"
            },
            {
              "value": "picto-award-gift",
              "label": "Award gift",
              "group": "Shop"
            },
            {
              "value": "picto-happy",
              "label": "Happy",
              "group": "Shop"
            },
            {
              "value": "picto-box",
              "label": "Box",
              "group": "Shipping"
            },
            {
              "value": "picto-pin",
              "label": "Pin",
              "group": "Shipping"
            },
            {
              "value": "picto-timer",
              "label": "Timer",
              "group": "Shipping"
            },
            {
              "value": "picto-validation",
              "label": "Validation",
              "group": "Shipping"
            },
            {
              "value": "picto-truck",
              "label": "Truck",
              "group": "Shipping"
            },
            {
              "value": "picto-return",
              "label": "Return",
              "group": "Shipping"
            },
            {
              "value": "picto-earth",
              "label": "Earth",
              "group": "Shipping"
            },
            {
              "value": "picto-plane",
              "label": "Plane",
              "group": "Shipping"
            },
            {
              "value": "picto-credit-card",
              "label": "Credit card",
              "group": "Payment & Security"
            },
            {
              "value": "picto-lock",
              "label": "Lock",
              "group": "Payment & Security"
            },
            {
              "value": "picto-shield",
              "label": "Shield",
              "group": "Payment & Security"
            },
            {
              "value": "picto-secure-profile",
              "label": "Secure profile",
              "group": "Payment & Security"
            },
            {
              "value": "picto-money",
              "label": "Money",
              "group": "Payment & Security"
            },
            {
              "value": "picto-recycle",
              "label": "Recycle",
              "group": "Ecology"
            },
            {
              "value": "picto-leaf",
              "label": "Leaf",
              "group": "Ecology"
            },
            {
              "value": "picto-tree",
              "label": "Tree",
              "group": "Ecology"
            },
            {
              "value": "picto-mobile-phone",
              "label": "Mobile phone",
              "group": "Communication"
            },
            {
              "value": "picto-phone",
              "label": "Phone",
              "group": "Communication"
            },
            {
              "value": "picto-chat",
              "label": "Chat",
              "group": "Communication"
            },
            {
              "value": "picto-customer-support",
              "label": "Customer support",
              "group": "Communication"
            },
            {
              "value": "picto-operator",
              "label": "Operator",
              "group": "Communication"
            },
            {
              "value": "picto-mailbox",
              "label": "Mailbox",
              "group": "Communication"
            },
            {
              "value": "picto-envelope",
              "label": "Envelope",
              "group": "Communication"
            },
            {
              "value": "picto-comment",
              "label": "Comment",
              "group": "Communication"
            },
            {
              "value": "picto-question",
              "label": "Question",
              "group": "Communication"
            },
            {
              "value": "picto-send",
              "label": "Send",
              "group": "Communication"
            },
            {
              "value": "picto-at-sign",
              "label": "At sign",
              "group": "Tech"
            },
            {
              "value": "picto-camera",
              "label": "Camera",
              "group": "Tech"
            },
            {
              "value": "picto-wifi",
              "label": "WiFi",
              "group": "Tech"
            },
            {
              "value": "picto-bluetooth",
              "label": "Bluetooth",
              "group": "Tech"
            },
            {
              "value": "picto-printer",
              "label": "Printer",
              "group": "Tech"
            },
            {
              "value": "picto-smart-watch",
              "label": "Smart watch",
              "group": "Tech"
            },
            {
              "value": "picto-coffee",
              "label": "Coffee",
              "group": "Food & Drink"
            },
            {
              "value": "picto-burger",
              "label": "Burger",
              "group": "Food & Drink"
            },
            {
              "value": "picto-beer",
              "label": "Beer",
              "group": "Food & Drink"
            },
            {
              "value": "picto-target",
              "label": "Target",
              "group": "Other"
            },
            {
              "value": "picto-document",
              "label": "Document",
              "group": "Other"
            },
            {
              "value": "picto-jewelry",
              "label": "Jewelry",
              "group": "Other"
            },
            {
              "value": "picto-music",
              "label": "Music",
              "group": "Other"
            },
            {
              "value": "picto-file",
              "label": "File",
              "group": "Other"
            },
            {
              "value": "picto-mask",
              "label": "Mask",
              "group": "Other"
            },
            {
              "value": "picto-stop",
              "label": "Stop",
              "group": "Other"
            }
          ],
          "default": "picto-coupon"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "240 x 240px .png recommended"
        },
        {
          "type": "range",
          "id": "icon_width",
          "min": 20,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Icon width",
          "default": 24
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Shipping"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Short content about your shipping rates or discounts.</p>"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#eaf2ed"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#00a341"
        }
      ]
    },
    {
      "type": "share_buttons",
      "name": "Share buttons",
      "settings": [
        {
          "type": "paragraph",
          "content": "To improve user experience and performance, native share buttons are used when supported."
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "start"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "range",
      "id": "desktop_media_width",
      "label": "Desktop media size",
      "min": 35,
      "max": 65,
      "step": 5,
      "unit": "%",
      "default": 55
    },
    {
      "type": "select",
      "id": "desktop_media_layout",
      "label": "Desktop media layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "grid_highlight",
          "label": "Grid with main media"
        },
        {
          "value": "carousel_thumbnails_left",
          "label": "Thumbnails left (carousel)"
        },
        {
          "value": "carousel_thumbnails_bottom",
          "label": "Thumbnails bottom (carousel)"
        }
      ],
      "default": "carousel_thumbnails_left"
    },
    {
      "type":"select",
      "id": "mobile_media_size",
      "label": "Mobile media size",
      "options": [
        {
          "value": "expanded",
          "label": "Expanded"
        },
        {
          "value": "contained",
          "label": "Contained"
        }
      ],
      "default": "expanded"
    },
    {
      "type": "select",
      "id": "mobile_carousel_control",
      "label": "Mobile carousel control",
      "options": [
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "floating_dots",
          "label": "Floating dots"
        },
        {
          "value": "thumbnails",
          "label": "Thumbnails"
        },
        {
          "value": "free_scroll",
          "label": "Free scroll"
        }
      ],
      "default": "floating_dots"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Enable video autoplay",
      "info": "Video are muted automatically to allow autoplay. Grid mode on desktop turn off autoplay.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "header",
      "content": "Image zoom"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable",
      "default": true
    },
    {
      "type": "range",
      "id": "max_image_zoom_level",
      "min": 1,
      "max": 4,
      "step": 0.5,
      "label": "Max zoom level",
      "default": 3
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Input colors",
      "info": "Applies to elements like quantity selector and variant selectors."
    },
    {
      "type": "color",
      "id": "input_background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "input_text_color",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "blocks": [
        {
          "type": "vendor"
        },
        {
          "type": "title"
        },
        {
          "type": "badges"
        },
        {
          "type": "price"
        },
        {
          "type": "rating"
        },
        {
          "type": "separator"
        },
        {
          "type": "description"
        },
        {
          "type": "variant_picker"
        },
        {
          "type": "quantity_selector"
        },
        {
          "type": "buy_buttons"
        },
        {
          "type": "pickup_availability"
        }
      ]
    }
  ]
}
{% endschema %}